Zend_Mail_Transport_Abstract adds newline to the headers content

I found a problem with in `/library/Zend/Mail/Transport/Abstract.php` in `_prepareHeaders` method [here]https://github.com/zendframework/zf1/blob/master/library/Zend/Mail/Transport/Abstract.php#L196)

When Zend_Mail_Transport_Abstract adds headers, it can put a newline character in header's content. The problem affects in my case CC or BCC header, when passing a list of emails. The expectation, according to [section 3.6.3 of RFC 2822](https://tools.ietf.org/html/rfc2822#section-3.6.3), is that there will be no newlines in list of emails, so header will look like this:

```
Bcc: user1@example.com, user2@example.com
```

But now it looks like this:

```
Bcc: user1@example.com, 
user2@example.com
```

This causes problems in some software. In my case I cannot open such emails in Zend Framework 2 - it throws an exception because it tries to interpret every line as a separate header.

I don't know very much about emails or ZF internals. May be it is a rare problem and maybe there were reasons to implement such behavior.

What could I do to make headers appear on one line?